* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgb(0, 8, 85);
    min-height: 100vh;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    min-height: 100vh;

    .title {
        font-size: 1.5rem;
        font-weight: 700;
        color: rgb(250, 223, 164);
        margin-bottom: 2rem;
    }

    .cardHolder {
        display: grid;
        justify-content: space-between;
        gap: 1rem;
        width: 90%;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        padding: 1rem;

        .card {
            border-radius: 0.5rem;
            padding: 1rem;
            background: linear-gradient(
                45deg,
                rgb(250, 223, 164)0 0%,
                rgb(250, 223, 164) 42%,
                rgb(0, 8, 85) 42%,
                rgb(0, 8, 85) 45%,
                rgb(250, 223, 164) 45%,
                rgb(250, 223, 164) 48%,
                rgb(0, 8, 85) 48%,
                rgb(0, 8, 85) 51%,
                rgb(250, 223, 164) 51%,
                rgb(250, 223, 164)54%,
                rgb(0, 8, 85) 54%,
                rgb(0, 8, 85) 57%,
                rgb(250, 223, 164) 57%,
                rgb(250, 223, 164) 60%,
                rgb(0, 8, 85) 60%,
                rgb(0, 8, 85) 100%
            );
            background-size: 300%;
            box-shadow: 2px 3px 5px white;
            transition: 0.5s ease-in-out;

            .cardTitle {
                color: rgb(0, 8, 85);
                transition: 0.3s ease-in-out;
                font-size: 1.5rem;
                font-weight: 500;
                margin-bottom: 1.5rem;
            }

            &:hover {
                animation: colorChange 0.3s ease-in-out;
                box-shadow: 3px 5px 5px rgb(250, 223, 164);
                background-position: 100%;

                .cardTitle {
                    color: rgb(250, 223, 164);
                    font-weight: 700;
                }
            }
        }
    }
}

@keyframes colorChange {
    0% {
        background-position: 0%;
    }
    100% {
        background-position: 100%;
    }
}
